.landing-window {
border-radius: 20px;
opacity: 0.8;
background-color: cornflowerblue;
}

.pnyuK {
opacity:0;
}

.landing-wrapper-before {
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/464/892/non_2x/abstract-colorful-geometric-background-texture-illustration-with-circles-cool-for-banner-social-media-template-poster-and-flyer-template-free-vector.jpg);
}

._3P5VY {
    display: none;
}

.app-wrapper-web {
    opacity: 0.93;
}

#app {
background-image: url();
}

.qq0sjtgm {
    opacity: 0.3!important;
}

.ln8gz9je {
    width: 100%;
    border-radius: 20px!important;
}

._199zF._3j691 {
    border-radius: 20px!important;
}
